* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.main-container {
  font-family: "Poppins";
  min-height: 100vh;
  background-color: rgba(0, 255, 255, 0.608);
}
