* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.main-container {
  font-family: "Poppins";
  min-height: 100vh;
  background-color: rgba(0, 255, 255, 0.608);
}

.messages-bin {
  position: fixed;
  bottom: 50px;
  right: 50px;
  max-width: 300px;
  z-index: 9999;
}
